extractcsv.py

In [25]:
import pandas as pd

def read_csvfile_into_dataframe(file_name: str):
    try:
        df = pd.read_csv(file_name)     
        return df
    except FileNotFoundError:
        return None

In [26]:
read_csvfile_into_dataframe('test.csv')

,timestamp,store,customer_name,basket_items,total_price,cash_or_card,card_number
0,06/06/2022 09:00,Chesterfield,Stephanie Neyhart,"Large Flat white - 2.45, Large Flavoured iced ...",8.95,CASH,NaN
1,06/06/2022 09:02,Chesterfield,Donna Marley,"Large Flavoured iced latte - Hazelnut - 3.25, ...",8.65,CARD,4.694130e+15
2,06/06/2022 09:04,Chesterfield,Frances Pounds,"Regular Flavoured iced latte - Caramel - 2.75,...",8.15,CASH,NaN
3,06/06/2022 09:06,Chesterfield,Veronica Ikenberry,Large Flat white - 2.45,2.45,CASH,NaN
4,06/06/2022 09:08,Chesterfield,Rachelle Blandy,"Large Flavoured latte - Hazelnut - 2.85, Large...",13.55,CARD,6.577560e+15
...,...,...,...,...,...,...,...
222,06/06/2022 16:53,Chesterfield,Daniela Baptiste,"Large Flat white - 2.45, Large Flat white - 2....",12.65,CASH,NaN
223,06/06/2022 16:55,Chesterfield,Christopher Duquette,"Large Flavoured iced latte - Hazelnut - 3.25, ...",10.30,CARD,9.596730e+15
224,06/06/2022 16:57,Chesterfield,Geraldine Sykes,Regular Flavoured iced latte - Hazelnut - 2.75...,10.10,CARD,5.925480e+15
225,06/06/2022 16:57,Chesterfield,Geraldine Sykes,"Regular Flavoured Chai latte - Vanilla - 2.75,...",10.10,CARD,5.925480e+15
226,26/06/2022 16:57,Chesterfield,Geraldine Smith,"Regular Flavoured Chai latte - Vanilla - 2.75,...",10.10,CARD,5.925480e+15

transform_3nf.py

In [27]:
import pandas as pd
import numpy as np
# from create_db import connect_t_db

#from product_query import query_id
TEST_CSV = 'test.csv' # Located in 'src' folder
BASKET_COLUMN = 'basket_items'

# Columns to be extracted for products_df, index column acts as a local primary key
PRODUCT_COLUMNS = ["name", "size", "flavour"]

# Columns to be extracted for transactions_df, after UUIDs have been generated
TRANSACTION_COLUMNS = ["timestamp", "store", "customer_name", "total_price", "cash_or_card"]

# TRANSACTION_COLUMNS = ["transaction_id","timestamp", "store", "customer_name", "total_price", "cash_or_card"]
TRANSACTION_ID = "transaction_id"
PRODUCT_ID = "product_id"
BASKET_ITEMS_COLUMNS = [TRANSACTION_ID, PRODUCT_ID, "price", "quantity"]

# BASKET_ITEMS_COLUMNS = ["transaction_id", "product_id", "price", "quantity","timestamp", "store", "customer_name", "total_price", "cash_or_card","basket_items"]
TRANSACTIONS_TABLE = "transactions"
PRODUCTS_TABLE = "products"
BASKET_ITEMS_TABLE = "basket_items"

In [28]:
# Transform data_frame to 1st Normal Form
# We will split the basket items into separate rows after each comma (counting quantity per basket)
def split_basket_items(df:pd.DataFrame):
    
    def count_items(basket: str):

        # empty dictionary
        item_count_dict = {}

        # list of items in basket stripped and split by ','
        items_list = [item.strip() for item in basket.split(",")]

        for item in items_list:

            # 'get' returns key value pair for dict
            item_count_dict[item] = item_count_dict.get(item, 0) + 1

        # 
        return list(item_count_dict.items())

    # 
    df[BASKET_COLUMN] = df[BASKET_COLUMN].apply(lambda x: count_items(x))
    
    # "explode" converts each element into row
    return df.explode(BASKET_COLUMN, ignore_index=True)

In [29]:
split_basket_items(read_csvfile_into_dataframe(TEST_CSV))

,timestamp,store,customer_name,basket_items,total_price,cash_or_card,card_number
0,06/06/2022 09:00,Chesterfield,Stephanie Neyhart,"(Large Flat white - 2.45, 1)",8.95,CASH,NaN
1,06/06/2022 09:00,Chesterfield,Stephanie Neyhart,"(Large Flavoured iced latte - Vanilla - 3.25, 1)",8.95,CASH,NaN
2,06/06/2022 09:00,Chesterfield,Stephanie Neyhart,"(Large Flavoured iced latte - Hazelnut - 3.25, 1)",8.95,CASH,NaN
3,06/06/2022 09:02,Chesterfield,Donna Marley,"(Large Flavoured iced latte - Hazelnut - 3.25, 1)",8.65,CARD,4.694130e+15
4,06/06/2022 09:02,Chesterfield,Donna Marley,"(Regular Latte - 2.15, 1)",8.65,CARD,4.694130e+15
...,...,...,...,...,...,...,...
569,06/06/2022 16:57,Chesterfield,Geraldine Sykes,(Regular Flavoured iced latte - Vanilla - 2.75...,10.10,CARD,5.925480e+15
570,26/06/2022 16:57,Chesterfield,Geraldine Smith,(Regular Flavoured Chai latte - Vanilla - 2.75...,10.10,CARD,5.925480e+15
571,26/06/2022 16:57,Chesterfield,Geraldine Smith,"(Large Latte - 2.45, 1)",10.10,CARD,5.925480e+15
572,26/06/2022 16:57,Chesterfield,Geraldine Smith,"(Regular Flat white - 2.15, 1)",10.10,CARD,5.925480e+15
573,26/06/2022 16:57,Chesterfield,Geraldine Smith,(Regular Flavoured iced latte - Vanilla - 2.75...,10.10,CARD,5.925480e+15

In [30]:
# Split the product column into separate columns for each detail: size, name, flavour, price, quantity
def extract_product_details(df:pd.DataFrame):

    # Extract the details of product tuple ((size, name, flavour, price), quantity) into a list (size, name, flavour, price, quantity)
    def extract_details(product_count:tuple):
        
        # select first element of tuple: size, name, flavour, price (and exclude quantity)
        product = product_count[0]

        # split size from name, flavour, price
        size_plus_other_details = product.strip().split(" ", 1)

        # size (first element of tuple)
        size = size_plus_other_details[0]

        # split (by "-") name, flavour, price (2nd element of tuple)
        other_details = [detail.strip() for detail in size_plus_other_details[1].split("-")] 
        
        # if 2 elements then flavour = 'original'
        if len(other_details) == 2:

            # price is last element
            price = other_details[-1]

            # define flavour as 'original'
            other_details[-1] = "Original"
            
            # append price
            other_details.append(price)
        
        # name is 1st element
        name = other_details[0]

        # 
        if name[:9] == "Flavoured":
            other_details[0] = name[9:].lstrip().capitalize()
        
        details = [size]
        details.extend(other_details)
        details.append(product_count[1])

        return details
    
    df[BASKET_COLUMN] = df[BASKET_COLUMN].apply(extract_details)
    
    df[['size','name','flavour','price','quantity']] = pd.DataFrame(df[BASKET_COLUMN].to_list())
    
    del df[BASKET_COLUMN]
    
    return df

In [31]:
extract_product_details(split_basket_items(read_csvfile_into_dataframe(TEST_CSV)))

,timestamp,store,customer_name,total_price,cash_or_card,card_number,size,name,flavour,price,quantity
0,06/06/2022 09:00,Chesterfield,Stephanie Neyhart,8.95,CASH,NaN,Large,Flat white,Original,2.45,1
1,06/06/2022 09:00,Chesterfield,Stephanie Neyhart,8.95,CASH,NaN,Large,Iced latte,Vanilla,3.25,1
2,06/06/2022 09:00,Chesterfield,Stephanie Neyhart,8.95,CASH,NaN,Large,Iced latte,Hazelnut,3.25,1
3,06/06/2022 09:02,Chesterfield,Donna Marley,8.65,CARD,4.694130e+15,Large,Iced latte,Hazelnut,3.25,1
4,06/06/2022 09:02,Chesterfield,Donna Marley,8.65,CARD,4.694130e+15,Regular,Latte,Original,2.15,1
...,...,...,...,...,...,...,...,...,...,...,...
569,06/06/2022 16:57,Chesterfield,Geraldine Sykes,10.10,CARD,5.925480e+15,Regular,Iced latte,Vanilla,2.75,1
570,26/06/2022 16:57,Chesterfield,Geraldine Smith,10.10,CARD,5.925480e+15,Regular,Chai latte,Vanilla,2.75,1
571,26/06/2022 16:57,Chesterfield,Geraldine Smith,10.10,CARD,5.925480e+15,Large,Latte,Original,2.45,1
572,26/06/2022 16:57,Chesterfield,Geraldine Smith,10.10,CARD,5.925480e+15,Regular,Flat white,Original,2.15,1
573,26/06/2022 16:57,Chesterfield,Geraldine Smith,10.10,CARD,5.925480e+15,Regular,Iced latte,Vanilla,2.75,1

In [32]:
# Extract some columns for a subtable: 'transactions' and 'products', and replace with row_index
def extract_subtable(df:pd.DataFrame, subcolumns:list, foreign_key:str):
    subtable_df = df[subcolumns].drop_duplicates()

    subtable_df['combined'] = subtable_df.astype(str).apply(np.sum, axis=1)
    
    def get_index(combined_value:str, subtable_df:pd.DataFrame):
        try:
            return subtable_df.index[subtable_df['combined'] == combined_value].tolist()[0]
        except:
            return None

    df[foreign_key] = df[subcolumns].astype(str).apply(np.sum, axis=1).apply(lambda x: get_index(x, subtable_df))
    del subtable_df['combined']

    for column in subcolumns:
        del df[column]
    
    return subtable_df

In [33]:
extract_subtable(read_csvfile_into_dataframe(TEST_CSV),TRANSACTION_COLUMNS,TRANSACTION_ID)

,timestamp,store,customer_name,total_price,cash_or_card
0,06/06/2022 09:00,Chesterfield,Stephanie Neyhart,8.95,CASH
1,06/06/2022 09:02,Chesterfield,Donna Marley,8.65,CARD
2,06/06/2022 09:04,Chesterfield,Frances Pounds,8.15,CASH
3,06/06/2022 09:06,Chesterfield,Veronica Ikenberry,2.45,CASH
4,06/06/2022 09:08,Chesterfield,Rachelle Blandy,13.55,CARD
...,...,...,...,...,...
221,06/06/2022 16:51,Chesterfield,Jack Livengood,4.90,CASH
222,06/06/2022 16:53,Chesterfield,Daniela Baptiste,12.65,CASH
223,06/06/2022 16:55,Chesterfield,Christopher Duquette,10.30,CARD
224,06/06/2022 16:57,Chesterfield,Geraldine Sykes,10.10,CARD
226,26/06/2022 16:57,Chesterfield,Geraldine Smith,10.10,CARD

In [34]:
extract_subtable(extract_product_details(split_basket_items(read_csvfile_into_dataframe(TEST_CSV))), PRODUCT_COLUMNS, PRODUCT_ID)

           name     size   flavour
0    Flat white    Large  Original
1    Iced latte    Large   Vanilla
2    Iced latte    Large  Hazelnut
4         Latte  Regular  Original
6    Iced latte  Regular   Caramel
7         Latte    Large  Hazelnut
8         Latte  Regular  Hazelnut
12   Iced latte  Regular   Vanilla
15   Iced latte    Large   Caramel
18        Latte    Large  Original
20   Iced latte  Regular  Hazelnut
35   Flat white  Regular  Original
566  Chai latte  Regular   Vanilla

In [35]:
def third_normal_form(df: pd.DataFrame):
    
    # transactions table
    transactions_df = extract_subtable(df, TRANSACTION_COLUMNS, TRANSACTION_ID)

    # products table
    basket_df = split_basket_items(df)
    extract_product_details(basket_df)
    products_df = extract_subtable(basket_df, PRODUCT_COLUMNS, PRODUCT_ID)
    
    return {
        PRODUCTS_TABLE: products_df,
        TRANSACTIONS_TABLE: transactions_df,
        BASKET_ITEMS_TABLE: basket_df[BASKET_ITEMS_COLUMNS]
    }

In [36]:
third_normal_form(read_csvfile_into_dataframe(TEST_CSV))

{'products':            name     size   flavour
 0    Flat white    Large  Original
 1    Iced latte    Large   Vanilla
 2    Iced latte    Large  Hazelnut
 4         Latte  Regular  Original
 6    Iced latte  Regular   Caramel
 7         Latte    Large  Hazelnut
 8         Latte  Regular  Hazelnut
 12   Iced latte  Regular   Vanilla
 15   Iced latte    Large   Caramel
 18        Latte    Large  Original
 20   Iced latte  Regular  Hazelnut
 35   Flat white  Regular  Original
 566  Chai latte  Regular   Vanilla,
 'transactions':             timestamp         store         customer_name  total_price  \
 0    06/06/2022 09:00  Chesterfield     Stephanie Neyhart         8.95
 1    06/06/2022 09:02  Chesterfield          Donna Marley         8.65
 2    06/06/2022 09:04  Chesterfield        Frances Pounds         8.15
 3    06/06/2022 09:06  Chesterfield    Veronica Ikenberry         2.45
 4    06/06/2022 09:08  Chesterfield       Rachelle Blandy        13.55
 ..                ...           ...                   ...          ...
 221  06/06/2022 16:51  Chesterfield        Jack Livengood         4.90
 222  06/06/2022 16:53  Chesterfield      Daniela Baptiste        12.65
 223  06/06/2022 16:55  Chesterfield  Christopher Duquette        10.30
 224  06/06/2022 16:57  Chesterfield       Geraldine Sykes        10.10
 226  26/06/2022 16:57  Chesterfield       Geraldine Smith        10.10

     cash_or_card
 0           CASH
 1           CARD
 2           CASH
 3           CASH
 4           CARD
 ..           ...
 221         CASH
 222         CASH
 223         CARD
 224         CARD
 226         CARD

 [226 rows x 5 columns],
 'basket_items':      transaction_id  product_id price  quantity
 0                 0           0  2.45         1
 1                 0           1  3.25         1
 2                 0           2  3.25         1
 3                 1           2  3.25         1
 4                 1           4  2.15         1
 ..              ...         ...   ...       ...
 569             224          12  2.75         1
 570             226         566  2.75         1
 571             226          18  2.45         1
 572             226          35  2.15         1
 573             226          12  2.75         1

 [574 rows x 4 columns]}

In [37]:
third_normal_form(read_csvfile_into_dataframe(TEST_CSV))['products'].to_csv('products.csv')

In [38]:
print('PRODUCTS DATAFRAME')
third_normal_form(read_csvfile_into_dataframe(TEST_CSV))['products']

PRODUCTS DATAFRAME

           name     size   flavour
0    Flat white    Large  Original
1    Iced latte    Large   Vanilla
2    Iced latte    Large  Hazelnut
4         Latte  Regular  Original
6    Iced latte  Regular   Caramel
7         Latte    Large  Hazelnut
8         Latte  Regular  Hazelnut
12   Iced latte  Regular   Vanilla
15   Iced latte    Large   Caramel
18        Latte    Large  Original
20   Iced latte  Regular  Hazelnut
35   Flat white  Regular  Original
566  Chai latte  Regular   Vanilla

In [39]:
third_normal_form(read_csvfile_into_dataframe(TEST_CSV))['products'].to_string()

'           name     size   flavour\n0    Flat white    Large  Original\n1    Iced latte    Large   Vanilla\n2    Iced latte    Large  Hazelnut\n4         Latte  Regular  Original\n6    Iced latte  Regular   Caramel\n7         Latte    Large  Hazelnut\n8         Latte  Regular  Hazelnut\n12   Iced latte  Regular   Vanilla\n15   Iced latte    Large   Caramel\n18        Latte    Large  Original\n20   Iced latte  Regular  Hazelnut\n35   Flat white  Regular  Original\n566  Chai latte  Regular   Vanilla'

In [40]:
third_normal_form(read_csvfile_into_dataframe(TEST_CSV))['transactions'].to_csv('transactions.csv')

In [41]:
print('TRANSACTIONS DATAFRAME')
third_normal_form(read_csvfile_into_dataframe(TEST_CSV))['transactions']

TRANSACTIONS DATAFRAME

,timestamp,store,customer_name,total_price,cash_or_card
0,06/06/2022 09:00,Chesterfield,Stephanie Neyhart,8.95,CASH
1,06/06/2022 09:02,Chesterfield,Donna Marley,8.65,CARD
2,06/06/2022 09:04,Chesterfield,Frances Pounds,8.15,CASH
3,06/06/2022 09:06,Chesterfield,Veronica Ikenberry,2.45,CASH
4,06/06/2022 09:08,Chesterfield,Rachelle Blandy,13.55,CARD
...,...,...,...,...,...
221,06/06/2022 16:51,Chesterfield,Jack Livengood,4.90,CASH
222,06/06/2022 16:53,Chesterfield,Daniela Baptiste,12.65,CASH
223,06/06/2022 16:55,Chesterfield,Christopher Duquette,10.30,CARD
224,06/06/2022 16:57,Chesterfield,Geraldine Sykes,10.10,CARD
226,26/06/2022 16:57,Chesterfield,Geraldine Smith,10.10,CARD

In [45]:
a = third_normal_form(read_csvfile_into_dataframe(TEST_CSV))['basket_items'].to_csv()
type(a)

str

In [20]:
print(third_normal_form(read_csvfile_into_dataframe(TEST_CSV))['basket_items'].to_csv())

,transaction_id,product_id,price,quantity
0,0,0,2.45,1
1,0,1,3.25,1
2,0,2,3.25,1
3,1,2,3.25,1
4,1,4,2.15,1
5,1,1,3.25,1
6,2,6,2.75,1
7,2,7,2.85,1
8,2,8,2.55,1
9,3,0,2.45,1
10,4,7,2.85,1
11,4,2,3.25,1
12,4,12,2.75,1
13,4,4,2.15,1
14,4,8,2.55,1
15,5,15,3.25,1
16,5,0,2.45,1
17,6,4,2.15,1
18,6,18,2.45,1
19,7,0,2.45,1
20,7,20,2.75,1
21,8,4,2.15,1
22,8,1,3.25,1
23,9,6,2.75,1
24,10,4,2.15,1
25,10,12,2.75,1
26,10,2,3.25,1
27,11,0,2.45,1
28,12,12,2.75,1
29,13,20,2.75,1
30,13,2,3.25,1
31,13,18,2.45,1
32,13,8,2.55,1
33,14,6,2.75,1
34,15,4,2.15,1
35,16,35,2.15,1
36,16,12,2.75,1
37,16,8,2.55,1
38,17,6,2.75,1
39,17,20,2.75,1
40,17,18,2.45,1
41,17,7,2.85,1
42,17,15,3.25,1
43,18,35,2.15,1
44,18,4,2.15,1
45,19,12,2.75,1
46,19,1,3.25,1
47,20,1,3.25,1
48,20,12,2.75,1
49,21,35,2.15,1
50,22,0,2.45,1
51,23,4,2.15,1
52,23,6,2.75,1
53,24,15,3.25,1
54,25,2,3.25,1
55,25,20,2.75,1
56,25,1,3.25,1
57,25,8,2.55,1
58,26,1,3.25,1
59,26,18,2.45,1
60,27,12,2.75,1
61,27,20,2.75,1
62,27,15,3.25,1
63,28,18,2.45,1
64,28,15,3.25,1
65,29,18,2.45,1
66,29,2,3.25,1
67,29,8,2.55,1
68,30,8,2.55,1
69,31,12,2.75,2
70,31,7,2.85,1
71,32,1,3.25,1
72,33,0,2.45,1
73,33,35,2.15,2
74,33,6,2.75,1
75,34,15,3.25,1
76,34,12,2.75,1
77,35,15,3.25,1
78,35,7,2.85,1
79,35,18,2.45,2
80,35,8,2.55,1
81,36,1,3.25,1
82,36,18,2.45,1
83,36,7,2.85,1
84,36,20,2.75,1
85,37,8,2.55,1
86,37,12,2.75,1
87,37,1,3.25,1
88,37,15,3.25,2
89,37,0,2.45,1
90,38,7,2.85,1
91,39,4,2.15,1
92,39,7,2.85,1
93,39,0,2.45,1
94,39,35,2.15,1
95,40,20,2.75,1
96,40,6,2.75,1
97,41,1,3.25,1
98,41,15,3.25,1
99,42,1,3.25,2
100,42,20,2.75,1
101,43,8,2.55,2
102,44,2,3.25,1
103,45,7,2.85,2
104,46,1,3.25,1
105,46,6,2.75,1
106,46,18,2.45,1
107,46,0,2.45,1
108,47,0,2.45,1
109,48,18,2.45,2
110,48,15,3.25,1
111,48,12,2.75,1
112,48,35,2.15,1
113,49,18,2.45,1
114,49,2,3.25,1
115,50,0,2.45,1
116,50,20,2.75,1
117,51,18,2.45,1
118,51,15,3.25,1
119,52,12,2.75,1
120,52,18,2.45,1
121,53,15,3.25,1
122,53,0,2.45,1
123,53,6,2.75,1
124,53,20,2.75,1
125,54,6,2.75,1
126,54,8,2.55,1
127,55,6,2.75,1
128,56,12,2.75,2
129,57,15,3.25,1
130,57,18,2.45,1
131,58,35,2.15,1
132,58,1,3.25,2
133,58,20,2.75,1
134,59,1,3.25,1
135,59,0,2.45,1
136,60,12,2.75,1
137,60,20,2.75,1
138,61,6,2.75,1
139,61,15,3.25,1
140,61,20,2.75,1
141,61,35,2.15,1
142,61,2,3.25,1
143,62,35,2.15,1
144,62,18,2.45,1
145,62,12,2.75,1
146,62,1,3.25,1
147,63,4,2.15,3
148,63,7,2.85,1
149,63,20,2.75,1
150,64,15,3.25,1
151,64,1,3.25,1
152,64,4,2.15,1
153,64,0,2.45,1
154,65,4,2.15,1
155,65,15,3.25,1
156,66,2,3.25,1
157,66,6,2.75,2
158,66,18,2.45,1
159,66,12,2.75,1
160,66,8,2.55,1
161,67,1,3.25,1
162,67,35,2.15,1
163,68,15,3.25,1
164,68,8,2.55,1
165,68,1,3.25,1
166,68,2,3.25,1
167,69,20,2.75,1
168,69,8,2.55,1
169,70,2,3.25,1
170,70,8,2.55,2
171,70,35,2.15,1
172,70,12,2.75,1
173,71,12,2.75,1
174,72,7,2.85,1
175,72,2,3.25,1
176,72,6,2.75,1
177,72,4,2.15,1
178,73,8,2.55,1
179,73,2,3.25,1
180,73,1,3.25,1
181,74,12,2.75,1
182,74,35,2.15,1
183,74,7,2.85,2
184,75,35,2.15,1
185,76,1,3.25,1
186,76,20,2.75,1
187,76,35,2.15,2
188,76,4,2.15,1
189,77,20,2.75,1
190,77,0,2.45,1
191,78,35,2.15,1
192,78,1,3.25,1
193,79,15,3.25,1
194,79,8,2.55,1
195,79,6,2.75,1
196,79,4,2.15,1
197,80,0,2.45,1
198,81,7,2.85,1
199,81,1,3.25,1
200,82,4,2.15,2
201,82,7,2.85,1
202,82,20,2.75,1
203,82,15,3.25,1
204,82,2,3.25,1
205,83,15,3.25,2
206,83,20,2.75,1
207,84,7,2.85,2
208,84,6,2.75,1
209,84,35,2.15,1
210,84,4,2.15,1
211,85,7,2.85,1
212,85,6,2.75,1
213,85,2,3.25,1
214,85,0,2.45,1
215,86,4,2.15,1
216,86,18,2.45,2
217,86,35,2.15,1
218,87,6,2.75,2
219,87,15,3.25,2
220,87,12,2.75,1
221,88,4,2.15,1
222,89,20,2.75,1
223,89,1,3.25,1
224,89,4,2.15,1
225,90,1,3.25,1
226,90,7,2.85,1
227,90,0,2.45,1
228,90,20,2.75,1
229,91,8,2.55,1
230,91,20,2.75,1
231,91,15,3.25,1
232,92,6,2.75,1
233,92,4,2.15,1
234,93,12,2.75,1
235,93,18,2.45,1
236,93,6,2.75,1
237,94,2,3.25,2
238,94,8,2.55,1
239,95,18,2.45,1
240,95,0,2.45,1
241,95,12,2.75,1
242,95,8,2.55,1
243,96,20,2.75,1
244,96,2,3.25,1
245,97,0,2.45,1
246,98,8,2.55,4
247,98,6,2.75,1
248,99,8,2.55,1
249,99,4,2.15,1
250,99,18,2.45,1
251,99,12,2.75,1
252,100,0,2.45,3
253,100,4,2.15,1
254,100,35,2.15,1
255,101,35,2.15,1
256,101,20,2.75,1
257,102,0,2.45,1
258,103,15,3.25,1
259,103,20,2.75,1
260,103,6,2.75,1
261,104,20,2.75,1
262,105,18,2.45,1
263,105,4,2.15,2
264,105,12,2.75,1
265,106,15,3.25,1
266,107,4,2.15,1
267,107,20,2.75,2
268,107,1,3.25,1
269,108,0,2.45,1
270,108,20,2.75,1
271,109,0,2.45,1
272,109,4,2.15,1
273,109,8,2.55,1
274,110,8,2.55,1
275,110,20,2.75,1
276,110,2,3.25,1
277,111,4,2.15,1
278,111,8,2.55,1
279,111,1,3.25,1
280,111,0,2.45,1
281,112,1,3.25,1
282,113,7,2.85,1
283,113,18,2.45,1
284,113,20,2.75,1
285,113,35,2.15,1
286,114,15,3.25,1
287,114,12,2.75,1
288,114,2,3.25,1
289,114,1,3.25,1
290,114,0,2.45,1
291,115,12,2.75,2
292,116,4,2.15,2
293,116,7,2.85,1
294,116,12,2.75,1
295,116,0,2.45,1
296,117,0,2.45,1
297,117,20,2.75,1
298,118,0,2.45,1
299,119,15,3.25,1
300,119,1,3.25,1
301,120,12,2.75,1
302,120,18,2.45,1
303,120,4,2.15,1
304,120,0,2.45,2
305,121,20,2.75,1
306,121,35,2.15,1
307,121,15,3.25,1
308,122,2,3.25,1
309,122,0,2.45,1
310,122,35,2.15,1
311,123,18,2.45,1
312,124,0,2.45,1
313,125,35,2.15,2
314,126,7,2.85,1
315,126,6,2.75,2
316,127,6,2.75,1
317,127,1,3.25,1
318,127,8,2.55,1
319,127,7,2.85,1
320,127,4,2.15,1
321,128,8,2.55,1
322,128,6,2.75,1
323,128,20,2.75,1
324,128,18,2.45,1
325,129,35,2.15,2
326,130,35,2.15,1
327,130,7,2.85,1
328,131,18,2.45,1
329,132,4,2.15,1
330,132,20,2.75,1
331,132,8,2.55,1
332,132,6,2.75,1
333,133,20,2.75,1
334,134,18,2.45,1
335,134,2,3.25,1
336,135,12,2.75,2
337,135,15,3.25,1
338,135,18,2.45,1
339,136,35,2.15,1
340,136,12,2.75,1
341,137,6,2.75,1
342,137,20,2.75,1
343,138,7,2.85,1
344,139,15,3.25,1
345,139,18,2.45,1
346,140,7,2.85,1
347,140,4,2.15,1
348,140,15,3.25,1
349,141,0,2.45,1
350,141,6,2.75,1
351,142,12,2.75,2
352,143,35,2.15,1
353,143,15,3.25,1
354,144,15,3.25,1
355,144,18,2.45,1
356,144,2,3.25,2
357,145,6,2.75,1
358,145,15,3.25,2
359,145,18,2.45,1
360,146,18,2.45,2
361,146,8,2.55,2
362,146,6,2.75,1
363,147,20,2.75,1
364,148,12,2.75,1
365,148,1,3.25,1
366,148,2,3.25,1
367,148,6,2.75,1
368,149,15,3.25,1
369,149,35,2.15,1
370,150,20,2.75,1
371,151,2,3.25,1
372,152,18,2.45,1
373,152,2,3.25,1
374,152,4,2.15,1
375,153,1,3.25,1
376,154,6,2.75,2
377,154,20,2.75,1
378,154,18,2.45,1
379,154,12,2.75,1
380,155,20,2.75,1
381,156,15,3.25,1
382,156,35,2.15,2
383,156,4,2.15,1
384,157,35,2.15,1
385,158,12,2.75,1
386,158,8,2.55,1
387,159,8,2.55,1
388,159,18,2.45,1
389,159,35,2.15,1
390,160,4,2.15,1
391,160,2,3.25,1
392,160,12,2.75,1
393,160,20,2.75,1
394,161,35,2.15,2
395,161,15,3.25,1
396,162,20,2.75,1
397,162,0,2.45,1
398,163,2,3.25,1
399,163,20,2.75,1
400,164,20,2.75,1
401,164,2,3.25,1
402,164,35,2.15,1
403,164,1,3.25,1
404,164,12,2.75,1
405,165,4,2.15,2
406,166,35,2.15,2
407,166,2,3.25,1
408,166,12,2.75,1
409,166,8,2.55,1
410,166,18,2.45,1
411,167,1,3.25,1
412,168,35,2.15,3
413,168,7,2.85,1
414,168,2,3.25,1
415,168,0,2.45,1
416,169,15,3.25,1
417,170,15,3.25,1
418,171,15,3.25,1
419,171,35,2.15,1
420,171,12,2.75,1
421,171,6,2.75,1
422,171,18,2.45,1
423,172,6,2.75,1
424,172,4,2.15,1
425,172,1,3.25,1
426,173,0,2.45,1
427,173,20,2.75,1
428,174,7,2.85,1
429,175,12,2.75,1
430,175,4,2.15,1
431,175,35,2.15,1
432,176,15,3.25,1
433,176,6,2.75,1
434,176,35,2.15,1
435,177,12,2.75,3
436,178,12,2.75,1
437,178,18,2.45,1
438,179,4,2.15,2
439,179,35,2.15,1
440,179,18,2.45,1
441,179,8,2.55,1
442,180,18,2.45,1
443,181,20,2.75,1
444,182,8,2.55,1
445,182,7,2.85,1
446,182,18,2.45,1
447,182,1,3.25,1
448,183,35,2.15,1
449,183,0,2.45,2
450,183,6,2.75,1
451,183,12,2.75,1
452,183,4,2.15,1
453,184,20,2.75,1
454,184,8,2.55,1
455,185,7,2.85,1
456,185,8,2.55,1
457,185,4,2.15,1
458,186,0,2.45,2
459,186,15,3.25,1
460,187,15,3.25,1
461,187,4,2.15,2
462,187,0,2.45,1
463,187,35,2.15,1
464,187,1,3.25,1
465,188,0,2.45,3
466,188,35,2.15,1
467,188,8,2.55,1
468,189,6,2.75,1
469,190,7,2.85,1
470,190,8,2.55,2
471,191,6,2.75,1
472,191,4,2.15,1
473,191,20,2.75,1
474,192,8,2.55,1
475,192,0,2.45,1
476,192,2,3.25,1
477,193,6,2.75,1
478,193,20,2.75,1
479,193,2,3.25,1
480,193,0,2.45,1
481,194,4,2.15,1
482,194,20,2.75,2
483,194,18,2.45,1
484,194,7,2.85,1
485,194,8,2.55,1
486,195,7,2.85,1
487,195,1,3.25,2
488,196,12,2.75,1
489,197,4,2.15,1
490,197,8,2.55,1
491,197,35,2.15,1
492,197,18,2.45,1
493,198,15,3.25,1
494,198,35,2.15,1
495,198,0,2.45,1
496,199,1,3.25,1
497,199,2,3.25,2
498,200,18,2.45,1
499,201,7,2.85,1
500,202,15,3.25,1
501,203,20,2.75,1
502,203,35,2.15,2
503,203,7,2.85,1
504,204,12,2.75,1
505,205,7,2.85,1
506,205,4,2.15,1
507,205,15,3.25,1
508,206,35,2.15,1
509,206,0,2.45,1
510,207,7,2.85,1
511,207,6,2.75,1
512,207,4,2.15,1
513,207,0,2.45,1
514,208,15,3.25,1
515,208,12,2.75,1
516,208,2,3.25,1
517,208,20,2.75,1
518,209,8,2.55,1
519,209,2,3.25,1
520,210,20,2.75,1
521,210,35,2.15,1
522,210,7,2.85,2
523,211,2,3.25,1
524,211,8,2.55,1
525,211,6,2.75,2
526,212,2,3.25,1
527,212,0,2.45,2
528,212,18,2.45,1
529,213,20,2.75,1
530,213,8,2.55,2
531,213,15,3.25,1
532,213,2,3.25,1
533,213,4,2.15,1
534,214,2,3.25,1
535,214,4,2.15,1
536,214,1,3.25,1
537,215,20,2.75,3
538,216,6,2.75,1
539,216,20,2.75,1
540,216,4,2.15,1
541,216,2,3.25,1
542,217,8,2.55,1
543,217,4,2.15,1
544,217,15,3.25,2
545,217,2,3.25,1
546,217,6,2.75,1
547,218,6,2.75,1
548,218,8,2.55,1
549,218,0,2.45,1
550,219,20,2.75,1
551,220,7,2.85,1
552,221,6,2.75,1
553,221,35,2.15,1
554,222,0,2.45,2
555,222,18,2.45,1
556,222,12,2.75,1
557,222,8,2.55,1
558,223,2,3.25,1
559,223,35,2.15,1
560,223,4,2.15,1
561,223,20,2.75,1
562,224,20,2.75,1
563,224,18,2.45,1
564,224,35,2.15,1
565,224,12,2.75,1
566,224,566,2.75,1
567,224,18,2.45,1
568,224,35,2.15,1
569,224,12,2.75,1
570,226,566,2.75,1
571,226,18,2.45,1
572,226,35,2.15,1
573,226,12,2.75,1

In [15]:
print('BASKET DATAFRAME')
third_normal_form(read_csvfile_into_dataframe(TEST_CSV))['basket_items']

BASKET DATAFRAME

     transaction_id  product_id price  quantity
0                 0           0  2.45         1
1                 0           1  3.25         1
2                 0           2  3.25         1
3                 1           2  3.25         1
4                 1           4  2.15         1
..              ...         ...   ...       ...
569             224          12  2.75         1
570             226         566  2.75         1
571             226          18  2.45         1
572             226          35  2.15         1
573             226          12  2.75         1

[574 rows x 4 columns]